.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: wheat;
  padding: 10px;
}
.form-input {
  margin: 12px;
  padding: 8px 10px;
}
.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-btn {
  padding: 8px 9px;
  margin-bottom: 12px;
}
