*{
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
  display: flex;
  flex-direction: column;
}
nav{
  padding: 20px 20px;
  font-size: 30px;
  /* background-color: rgb(210, 86, 45); */
  background-color: white;
  box-shadow: 2px 3px 9px rgba(124, 124, 124, 0.37);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h4{
  color: rgb(255, 255, 255);
}
.logo{
  width: 200px;

}

.main-container{
  height: 100vh;
  display: flex;
  width: 100vw;
}
.nav-li{
  display: flex;
  list-style: none;
}
.nav-icons{
  width: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
.nav-icons:hover{
  filter: invert(43%) sepia(18%) saturate(3207%) hue-rotate(337deg) brightness(91%) contrast(91%);
  scale: 1.1;
}

.question{
  width: 20px;
}
.nav-li li{
margin: 5px 19px;
}

@media only screen and (max-width: 768px) {
  .main-container{
    width: 100%;
  }
  }