*{
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
  display: flex;
  flex-direction: column;
}
nav{
  padding: 30px 20px;
  font-size: 30px;
  background-color: rgb(210, 86, 45);
  box-shadow: 2px 3px 9px rgba(124, 124, 124, 0.37);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h4{
  color: rgb(255, 255, 255);
}

.main-container{
  height: 100vh;
  display: flex;
  width: 100vw;
}
.nav-li{
  display: flex;
  list-style: none;
}
.nav-icons{
  width: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
}
.nav-icons:hover{
  filter: none;
  scale: 1.1;
}

.question{
  width: 20px;
}
.nav-li li{
margin: 5px 19px;
}

